# General
gen/__pycache__/
qsft/__pycache__

# inDelphi
inDelphi/inDelphi-model/__pycache__
inDelphi/src/__pycache__
inDelphi/results/q4_n40_b7/qsft_transform*.pickle
inDelphi/results/q4_n40_b7/helper_results*.txt
inDelphi/results/q4_n40_b7/magnitude_of_interactions*.png
inDelphi/results/q4_n40_b7/test_samples*.png
inDelphi/results/q4_n40_b7/train/samples/HEK293/*
inDelphi/results/q4_n40_b7/train/samples_mean/HEK293/*
inDelphi/results/q4_n40_b7/train/transforms/HEK293/*
inDelphi/results/q4_n40_b7/test/HEK293/*
inDelphi/figures/shap_results/shapzero_fsi_HEK293_1_bp_ins.npz
inDelphi/figures/shap_results/shapzero_values_HEK293_1_bp_ins.npy
inDelphi/figures/shap_results/time_shapzero_values_HEK293_1_bp_ins.npy
inDelphi/figures/shap_results/time_shapzero_fsi_HEK293_1_bp_ins.npy

!inDelphi/results/q4_n40_b7/qsft_transform_HEK293_frameshift.pickle
!inDelphi/results/q4_n40_b7/helper_results_HEK293_frameshift.txt
!inDelphi/results/q4_n40_b7/magnitude_of_interactions_HEK293_frameshift.png
!inDelphi/results/q4_n40_b7/test_samples_HEK293_frameshift.png
!inDelphi/results/q4_n40_b7/train/samples/HEK293/frameshift/
!inDelphi/results/q4_n40_b7/train/samples/HEK293/frameshift/**
!inDelphi/results/q4_n40_b7/train/samples_mean/HEK293/frameshift/
!inDelphi/results/q4_n40_b7/train/samples_mean/HEK293/frameshift/**
!inDelphi/results/q4_n40_b7/train/transforms/HEK293/frameshift/
!inDelphi/results/q4_n40_b7/train/transforms/HEK293/frameshift/**
!inDelphi/results/q4_n40_b7/test/HEK293/frameshift/
!inDelphi/results/q4_n40_b7/test/HEK293/frameshift/**

# TIGER
TIGER/src/__pycache__/
TIGER/tiger/__pycache__
TIGER/tiger/hugging_face/__pycache__
TIGER/results/q4_n26_b7/train/samples/titration/*
TIGER/results/q4_n26_b7/train/samples_mean/titration/*
TIGER/results/q4_n26_b7/train/transforms/titration/*
TIGER/results/q4_n26_b7/qsft_transform_titration.pickle
TIGER/results/q4_n26_b7/helper_results_titration.txt
TIGER/results/q4_n26_b7/magnitude_of_interactions*.png
TIGER/results/q4_n26_b7/test_samples*.png
!TIGER/results/q4_n26_b7/magnitude_of_interactions_on_target.png
!TIGER/results/q4_n26_b7/test_samples_on_target.png